<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="titulo" [routerLink]="['/']">{{ tituloMenu }}</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>
    <div class="elementoBarra" [routerLink]="['usuario/login']">
      Inicio de sesión
    </div>
    <div class="elementoBarra" [routerLink]="['libreria/creacion']">
      Creacion libro
    </div>
    <div class="elementoBarra" [routerLink]="['libreria/expositor']">
      Expositor de libros
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
